name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run simple command
        run: echo "CI Running"

      - name: Create artifact file
        run: echo "Hello from GitHub Actions" > output.txt

      - uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: output.txt
